@use '../../../styles/variables' as *;

.categories {
    ul {
        display: flex;
        column-gap: 10px;
    }

    @media (max-width: 991px) {
        ul {
            flex-wrap: wrap;
            justify-content: center;
            row-gap: 10px;
        }
    }

    @media (max-width: 500px) {
        ul {
            flex-direction: column;
            align-items: center;
        }
    }
}
