@use '../../../styles/variables' as *;

.categories {

    @media (max-width: 1226px) {
        margin: 0px 0px 20px 0px;
    }

    ul {
        display: flex;
        flex-wrap: wrap;

        li {
            margin-right: 10px;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}
