@use '../../../styles/variables' as *;

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background-color: #FFFFFF;
    border: 2px solid $customOrange;
    color: $customOrange;
    border-radius: 50%;
    transition: background-color .2s linear;

    svg {
        width: 10px;
        height: 10px;
        fill: $customOrange;
        transition: fill .2s linear;
    }

    &:disabled {
        border-color: $customGrey;

        svg {
            fill: $customGrey;
        }
    }

    &:hover:enabled {
        background-color: darken($customOrange, 5%);

        svg {
            fill:#FFFFFF;
        }
    }

    &:active:enabled {
        background-color: darken($customOrange, 15%);
    }
}

.remove {
    border-color: $customGrey;

    svg {
        fill: $customGrey;
    }

    &:hover:enabled {
        background-color: darken($customGrey, 5%);
    }

    &:active:enabled {
        background-color: darken($customGrey, 15%);
    }
}